@using Microsoft.ApplicationInsights.ExtensionManager.Models
@model AgentModel
@{
    ViewBag.Title = "Profiler Agent Status";
    ViewBag.PageId = "ai-Status";
}

@section scripts {
    @Scripts.Render("~/bundles/home")
}

<div class="ai-main">
    <div class="ai-section">
        <div class="ai-title">
            <span>Application Insights Extension Status</span>
        </div>
        <div class="ai-status">
            <ul class="ms-List ms-u-slideDownIn20">
                <li class="ms-ListItem" id="ai-siteExtensionStatus">
                    <div id="ai-siteExtensionStatus-upToDate">
                        <i class="ms-Icon ms-fontColor-green ms-Icon--check"></i>
                        <span>
                            Pre-Installed Site Extension, version <strong><span>@(Model.SiteExtensionVersion)</span></strong>, is running.
                        </span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="ai-section">
        <div class="ai-title">
            <span>Application Insights SDK Status</span>
        </div>

        @if (Model.ApplicationInsightsAttachStatuses.Count == 0)
        {
        <div class="ai-status">
            <i class="ms-Icon ms-Icon--alert"></i>
            <strong>Cannot retrieve Application Insight's attach status.</strong>
            <p>
                <strong>Common causes of this issue:</strong>
            </p>
            <ul>
                <li>The application is not running. Make a request to the web application to make sure it has started and is running.</li>
                <li>For Asp.Net Core Apps, the following are not supported. If you fall into one of the following, then SDK status will not be retrieved and Application Insights telemetry won't be enabled.</li>
                <ul>
                    <li>
                        Asp.Net Core App deployed as <a href="https://docs.microsoft.com/dotnet/core/deploying/#self-contained-deployments-scd">self-contained</a>
                    </li>
                    <li>                        
                        Asp.Net Core App targeting the full <a href="https://docs.microsoft.com/dotnet/standard/choosing-core-framework-server#when-to-choose-net-framework">.NET Framework</a>
                    </li>
                    <li>
                        Asp.Net Core apps, targeting any frameworks other than .NET Core 2.0, 2.1 and 2.2.
                    </li>                                                                
                </ul>
                <p>
                    To use Application Insights in these cases, please install SDK at build-time following instructions <a href="https://aka.ms/Appinsight_buildtimesdk">here</a>.
                </p>                    
            </ul>            
            <p>
                <strong>Additional troubleshooting steps.</strong>
                <ul>
                    <li>Clean your application folder, and re-publish to make sure no files from previous deployments are causing this.</li>
                </ul>
                <strong>If the above does not help, please read the full troubleshooting guide <a href="https://aka.ms/appservice_appinsights_troubleshooting">here.</a></strong>
            </p>
        </div>
        }

        @foreach (var applicationInsightsAttachStatus in Model.ApplicationInsightsAttachStatuses)
        {
            <div class="ai-status">
                <i class="ms-Icon ms-Icon--circleInfo"></i>
                <span>Status source </span><strong>@applicationInsightsAttachStatus.FileName</strong>
                <ul class="ms-List ms-u-slideDownIn20">
                    @foreach (var statusKvp in applicationInsightsAttachStatus.Status)
                    {
                        <li class="ms-ListItem">
                            <i class="ms-Icon ms-Icon--circleInfo"></i>
                            <span>@statusKvp.Key </span><strong>@statusKvp.Value</strong>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>

    <div class="ai-section" style="display:none">

        <div class="ai-title">
            <span>Instrumentation Agent Status</span>
        </div>

        <div>
            <p>The instrumentation agent is enabled as a profiler for your application and allows to collect additional information about remote dependencies like SQL command texts for SQL calls.</p>
        </div>

        <div class="ai-status">
            <ul class="ms-List ms-u-slideDownIn20">
                <li class="ms-ListItem" id="ai-instrumentationEngineStatus">
                    <div id="ai-instrumentationEngine-loading" class="ms-Spinner">
                        <div class="ms-Spinner-label">Checking Application Insights instrumentation engine...</div>
                    </div>
                    <div id="ai-instrumentationEngine-variables" style="display:none">
                        <i class="ms-Icon ms-fontColor-green ms-Icon--check"></i>
                        <span>
                            Site Extension, version <strong><span class="ai-siteExtensionVersionItem-label">(loading...)</span></strong>, is up to date.
                        </span>
                    </div>
                    <div id="ai-instrumentationEngine-processNotRunning" style="display:none">
                        <i class="ms-Icon ms-fontColor-green ms-Icon--alert"></i>
                        <span id="ai-siteExtensionVersionItem-label">Application main site process is not running. Please browse your app and refresh Application Insights diagnostics UI.</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>