<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/images/favicon_ms.ico" type="image/x-icon" />
    <title>Application Insights</title>
    @Styles.Render("~/bundles/css")
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "2b5f20c6-9172-4518-8a48-ebf7d74a09f0"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="ms-Grid" style="padding: 0px">
        <div class="ms-Grid-row ms-NavBar ai-idbar">
            <div class="ms-Grid-col ai-brand">
                <span class="ms-fontWeight-light">Microsoft Azure</span>
                <span class="ms-fontWeight-light">
                    <a href="http://go.microsoft.com/fwlink/?LinkID=510710" target="_blank" class="ai-Homelink">Application Insights</a>
                </span>
            </div>
            <ul class="ms-NavBar-items">
                <!-- Kudu -->
                <li class="ms-NavBar-item ms-NavBar-item--right">
                    <a href=".." class="ms-NavBar-link ai-idbar-Kudu">
                        <img src="~/Content/images/Kudu.svg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="ai-body">
        @RenderBody()
    </div>

    <footer class="ms-Grid ai-footer">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                <div class="ms-Grid">
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col ms-u-sm4 ms-u-md4 ms-u-lg2" style="padding-top:15px">
                            <img src="~/Content/images/MicrosoftLogo.png" alt="Microsoft" height="35" width="135" />
                        </div>
                        <div class="ms-Grid-col ms-u-sm10 ms-u-md10 ms-u-lg10">
                            <a href="https://go.microsoft.com/fwlink/?linkid=845618" target="_blank">Privacy &amp; Cookies</a>
                            <a href="https://go.microsoft.com/fwlink/?linkid=845619" target="_blank">Developer Services Agreement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <!-- Fallback if the CDN for JQuery fails -->
    <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                var e = document.createElement('script');
                e.src = '@Url.Content("~/Scripts/jquery-1.10.2.min.js")';
                e.type = 'text/javascript';
                document.getElementsByTagName("head")[0].appendChild(e);
            }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
